<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>所有项目</title>
    <link href="http://todomvc.com/site-assets/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="./layout.css">
</head>
<body>
    <header>
        <h1>目录:</h1>
    </header>
    <div class="projects">
        <ul class='lists'>
            <% projects.forEach(function(item){ %>
                <li class='test'>
                    <a href="<%=item.link%>"><%=item.name%></a>
                </li>
            <%})%>
        </ul>
    </div>
    <span class='conftact-info'>&copy; zhenghuahou.</span>
</body>
</html>