*{
    margin:0;
    padding:0;
}
body{
    line-height: 1.5;
    background: #ccc;
    padding:10px;
}

.file{
    font-size: 14px;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(60,127,150)),color-stop(1, rgb(195,219,228)));
    padding:10px;
    width:12em;
    border-radius: 10px;
    border:1px solid rgb(100,150,170);
}

.upload-box {
    padding: 4px 10px;
    height: 40px;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
}

.upload-box  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

.btn {
    display: block;
    margin:5px;
    background-color:#3bb3e0;
    padding:10px;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    border: solid 1px #186f8f;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(44,160,202)),color-stop(1, rgb(62,184,229)));
    -webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
    -moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
    box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.btn_demo1::before {
				background-color:#ccd0d5;
				content:"";
				display:block;
				position:absolute;
				width:100%;
				height:100%;
				padding:5px;
				left:-8px;
				top:-8px;
				z-index:-1;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-o-border-radius: 5px;
				border-radius: 5px;
				-webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
				-moz-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
				-o-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
				box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
			}

			.btn_demo1:active {
				padding-bottom:9px;
				padding-left:10px;
				padding-right:10px;
				padding-top:11px;
				top:1px;
				background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
				background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
				background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
				background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
				background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
				background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(62,184,229)),
				color-stop(1, rgb(44,160,202))
				);
			}
